{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/ToDoApp/base_style.css' %}">
    </head>
    <body>
        <div class="imagem-container">
            <img src="{% static 'img/ToDoApp/logo.jpeg' %}" alt="logo">
        </div>
        <div class="texto-container">
            <p>Bem-vindo(a), {% firstof user.username "visitante" %} !</p>
        </div>
        <div class="links-container">
            {% if not user.is_authenticated %}
            <a href="{% url 'register' %}">Registrar</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>