{% extends 'auth/base_auth.html' %}
{% block title %}To-Do List{% endblock %}
{% block content %}
<h1>To-Do List</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add To-Do</button>
  </form>
  <ul>
    {% for todo in todos %}
      <li>{{ todo.name }} ({{ todo.deadline }})
        Marcar como concluída: 
          <input type="checkbox" name="is_checked" value="True" {% if todo.is_checked %}checked{% endif %}>
        <form action="{% url 'todo_delete' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ todo.id }}">
          <button type="submit">Atualizar</button>
        </form>
        <form action="{% url 'todo_delete' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ todo.id }}">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}